aio-pika==9.6.2
alembic==1.19.2
email-validator==2.3.0
fastapi==0.141.1
pwdlib[argon2]==0.3.1
PyJWT==2.13.0
PyMySQL==1.2.0
python-dotenv==1.2.3
redis==8.1.0
SQLAlchemy==2.0.52
uvicorn==0.52.4
pydantic-settings
